{% extends "DDBCoreBundle::layout.html.twig" %}
{% block title %}
  Erreur - {{ parent() }}
{% endblock %}
{% block body %}
    <p class="well">
        Erreur inconnue.<br>
        Aucun prélèvement n'a été effectué.
    </p>
{% endblock %}