{% extends "DDBCoreBundle::layout.html.twig" %}
{% block title %}
  Paiement annulé - {{ parent() }}
{% endblock %}
{% block body %}
    <p class="well">
        Paiement annulé, vous n'avez pas été prélevé
    </p>
{% endblock %}