{% extends "DDBCoreBundle::layout.html.twig" %}
{% block title %}
  Condition Générales de Vente - {{ parent() }}
{% endblock %}
{% block body %}
	<div class="well">
    Conditions générales de vente
	</div>
{%endblock%}